/* Responsive styles for the table */
.table-container {
    overflow-x: auto;
    max-width: 100%;
    padding-left: 120px;
    padding-right: 120px;
  }
  .imgElement{
    
        display: flex;
       
 
  }
  
  /* Additional styles for responsiveness */
  @media screen and (max-width: 768px) {
    .table-container {
        max-width: 100%;
        padding-left: 0px;

    }
    .imgElement{
    
        display: flex;
        flex-direction: column;
        
 
  }
  
   
  }
  